/* 1919 - 1440 */
@media screen and (max-width: 1919px) {
    .products .slick-prev {
        left: 24.8%;
    }

    .products .slick-next {
        right: 24.8%;
    }

    body #carousel {
        max-width: 1440px;
    }
}/* 1439 - 1200 */
@media screen and (max-width: 1439px) {
    .products .slick-prev {
        left: 240px;
    }

    .products .slick-next {
        right: 240px;
    }

    body #carousel {
        max-width: 1200px;
    }

    #carousel .products .product {
        margin: 0;
    }
}

/* 1199 - 1024 */
@media screen and (max-width: 1199px) {
    #header, #main, #strengths, #info, #carousel, #shares, #properties, #collect, #footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    #info #info-container {
        align-items: center;
        grid-template-columns: repeat(2,auto);
    }

    body #properties {
        max-width: 1024px;
        margin: 0 auto;
    }

    #properties-container #center-container {
        width: 502px;
        height: 502px;
    }

    #center-container #property-center {
        width: 65%;
        height: 65%;
    }

    #center-container #property-center img {
        width: 120%;
        transform: translate(-50px, -8px);
    }

    #properties-container .content-circle-left .text-left,#properties-container .content-circle-right .text-right {
        font-size: 16px;
    }

    #properties-container .content-circle-left {
        left: 0;
    }

    #properties-container .content-circle-left .circle-max{
        top: calc(50% - 35px);
    }

    #properties-container .content-circle-left.first .circle-max{
        left: 116%;
    }

    #properties-container .content-circle-left.second .circle-max{
        left: 98%;
    }

    #properties-container .content-circle-left.first {
        left: 62px;
    }

    #properties-container .content-circle-left.second {
        max-width: 195px;
        left: 15px;
    }

    #properties-container .content-circle-left.third {
        max-width: 322px;
    }

    #properties-container .content-circle-left .left-bar svg {
        /*left: -50px;*/
    }

    #properties-container .content-circle-left .circle-max {
        left: 100%;
    }

    .second-svg-1200 {
        display: none;
    }

    .left-bar .second-svg-1024 {
        display: block;
    }

    #properties-container .content-circle-right {
        right: 0;
    }

    #properties-container .content-circle-right.first {
        right: 80px;
    }

    #properties-container .content-circle-right.second {
        max-width: 187px;
    }

    #properties-container .content-circle-right.third {
        max-width: 248px;
    }

    #properties-container .content-circle-right.third .circle-max {
        right: 107%;
        top: calc(50% - 30px);
    }

    #properties-container .content-circle-right.third .right-bar svg {
        max-width: 118%;
    }

    #footer-container {
        grid-template-columns: auto repeat(3, auto) 180px;
    }

    #collect-container #collect-video iframe {
        width: 517px;
    }

    #collect #collect-container {
        justify-content: space-around;
    }

    .products .slick-prev {
        left: 133px;
    }

    .products .slick-next {
        right: 133px;
    }

    #shares #shares-container {
        width: 984px;
    }

    /*#collect #collect-container {*/
    /*    grid-template-columns: auto;*/
    /*    grid-template-rows: repeat(2, auto);*/
    /*    justify-content: center;*/
    /*}*/

    /*#collect-container #collect-content {*/
    /*    margin: 0 auto;*/
    /*    grid-row: 1/2;*/
    /*}*/

    /*#collect-container #collect-video {*/
    /*    grid-row: 2/3;*/
    /*}*/

    /*#footer-container #footer-logo img {*/
    /*    margin-right: 0;*/
    /*}*/
}

@media screen and (max-width: 1124px) {


    #info #info-container {
        align-items: center;
        grid-template-columns: auto;
    }

    #info #info-container .block-content {
        justify-content: center;
        column-gap: 35px;
    }

    #info-container .info-block1 {
        grid-column: auto;
        grid-row: auto;
        order: 1;
    }
    #info-container .info-block2 {
        grid-column: auto;
        grid-row: auto;
        order: 3;
    }
    #info-container .info-block3 {
        grid-column: auto;
        grid-row: auto;
        order: 2;
    }
    #info-container .info-block4 {
        grid-column: auto;
        grid-row: auto;
        order: 4;
    }
}

/* 1023 - 768 */
@media screen and (max-width: 1023px) {
    #header #menu .menu-item {
        margin: 0 16px;
        order: 2;
    }

    #header #menu .menu-item:last-child {
        margin-right: 0;
    }

    #menu #menu-items {
        margin: 10px 0;
        justify-content: center;
    }

    #menu #menu-item-logo-first {
        width: 100%;
        text-align: center;
        order: 1;
    }

    #strengths #strengths-container {
        max-width: 640px;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .strength-item {
        margin: 17px;
    }

    #shares #shares-container {
        width: 100%;
    }

    #shares #shares-container .text-header {
        width: 100%;
        justify-self: end;
    }

    #shares-container #shares-content {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    #shares-content .shares-relative-content {
        margin-right: 0;
    }

    #shares-content .shares-relative-img {
        margin: 0 auto;
    }

    .products .slick-prev {
        left: 8px;
    }

    .products .slick-next {
        right: 8px;
    }

    #reservation-container #reservation {
        padding: 55px 40px 95px 156px;
    }

    #properties-content-circle .left-bar,
    #properties-content-circle .right-bar,
    #properties-content-circle .text-left,
    #properties-content-circle .text-right {
        display: none;
    }

    #properties-container #properties-circle-768 {
        display: block;
    }

    #collect #collect-container {
        grid-template-columns: auto;
    }
    #collect-container #collect-content {
        margin: 0 auto;
    }

    #footer-container {
        text-align: center;
        grid-row-gap: 35px;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        align-items: center;
        justify-content: center;
    }

    #footer-logo {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #pickup, #worktime, #numbers {
        grid-row: 3/4;
    }

    #pickup {
        grid-column: 2/3;
    }
    #worktime {
        grid-column: 1/2;
    }
    #numbers {
        grid-column: 3/4;
    }

    #footer-container .rights,
    #footer-container .studio {
        grid-column: 2/3;
    }

    #footer-container .rights {
        grid-row: 5/6;
    }

    #footer-container .studio {
        grid-row: 4/5;
    }

    #networks {
        justify-self: center;
        justify-content: space-between;
        grid-row: 2/3;
        grid-column: 2/3;
        width: 218px;
    }

    #footer-container #footer-logo img {
        margin-right: 0;
    }

    #smoke-fon {
        right: 14px;
        top: 59px;
    }
}

/* 767 - 425 */
@media screen and (max-width: 767px) {
    #menu {
        justify-content: space-between;
    }

    #menu #menu-item-logo-second {
        text-align: center;
        width: calc(100% - 42px);
        display: block;
    }

    #menu-item-logo-first {
        display: none;
    }

    #menu #menu-items {
        display: none;
        align-items: center;
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 61, 41, 0.5);
        padding: 180px 0;
        z-index: 9999;
    }
    #menu-items #menu-items-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 280px;
        width: 40%;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 70px;
    }

    #menu #menu-items .menu-item {
        color: rgb(128, 165, 6);
        font-family: "Gilroy-Bold", sans-serif;
        text-align: center;
        font-size: 22px;
        margin: 20px 0;
    }

    #burger {
        display: block;
    }

    #menu-close {
        display: block;
        position: absolute;
        color: white;
        font-size: 45px;
        top: 20px;
        right: 36px;
    }

    #menu #menu-items.open {
        display: flex;
    }

    #main-h1 {
        font-size: 50px;
    }

    .btn.main-button {
        width: calc(100% - 55px);
    }

    #strengths .text-header {
        font-size: 34px;
    }

    #collect-video .rightbot-image {
        left: -130px;
    }

    #collect-container #collect-video iframe {
        max-width: 100%;
    }

    #leaves1, #shares .shares-bgabsolute {
        display: none;
    }

    .product {
        max-width: 280px;
        flex-direction: column;
    }

    .product-image img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 618px) {
    #info-container .block-content {
        grid-template-columns: repeat(auto-fill, minmax(280px, auto));
        text-align: center;
    }

    .block-content .content-image {
        justify-self: center;
        margin-bottom: 25px;
        order: unset;
    }

    .block-content .content-text {
        justify-self: center;
    }

    #shares-content .shares-relative-img {
        max-width: 100%;
        margin-bottom: 20px;
        height: auto;
    }

    #shares .text-header {
        margin-top: 85px;
    }

    #shares-container {
        padding: 40px;
    }

    #properties .text-header {
        font-size: 34px;
    }

    #footer-container {
        max-width: 280px;
        margin: 0 auto;
        grid-template-columns: auto;
    }

    #pickup, #worktime, #numbers, #footer-logo, #networks, #footer-container .studio , #footer-container .rights {
        grid-column: 1/2;
        grid-row: auto;
    }

    #footer-logo {
        order: 1;
    }
    #networks {
        order: 2;
    }
    #pickup {
        order: 3;
    }
    #worktime {
        order: 4;
    }
    #numbers {
        order: 5;
    }
    #footer-container .studio {
        order: 6;
    }
    #footer-container .rights {
        order: 7;
    }

    #footer-container .footer-flower {
        bottom: 33px;
        left: -122px;
        top: unset;
    }

    .content-text .text {
        z-index: 1;
    }
}

@media screen and (max-width: 590px){

    #choose-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #choose-container .choose {
        margin: 10px 10px;
    }

    .text-header {
        font-size: 35px;
    }

    #properties-container #center-container {
        width: 450px;
        height: 450px;
    }

    #properties-circle-768 #property3 {
        left: 81px;
        bottom: 15px;
    }
}

@media screen and (max-width: 520px) {

}

/* 424 - 375 */
@media screen and (max-width: 424px) {

    #smoke-fon {
        display: none;
    }

    #shares-container {
        padding: 20px;
    }

    #choose-container .choose {
        font-size: 16px;
    }

    #carousel .text-header {
        font-size: 24px;
    }

    #menu #menu-items .menu-item {
        font-size: 20px;
    }

}
/* 374 - 320 */
@media screen and (max-width: 374px) {

    #choose-container .choose, .shares-relative-content .info-discount {
        font-size: 13px;
    }

    #collect-content .collect-text, .content-text .text {
        font-size: 14px;
    }

    .content-text .header, #menu #menu-items .menu-item, .product-content-title {
        font-size: 18px;
    }

    .text-header {
        font-size: 20px;
    }

    .info-discount .green-bold-span {
        font-size: 22px;
    }

    #strengths .text-header {
        font-size: 23px;
    }

    #info .text-header {
        font-size: 26px;
    }

    #main-h1, #menu-close {
        font-size: 35px;
    }

}
/* 319 - 0 */
@media screen and (max-width: 319px) {

}