@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), local('Gilroy-Bold'),
        url('GilroyBold.woff2') format('woff2'),
        url('GilroyBold.woff') format('woff'),
        url('GilroyBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }